@import url('https://fonts.googleapis.com/css?family=Open_Sans:400,700&display=swap');
* {
  box-sizing:border-box;
}
body {
  margin:0;
  font-family:'Open Sans', sans-serif;
  background-color:#EEE;
}